.App_wrapper {
  background: var(--map_overlay_clr);
  min-height: 100vh;
  > div {
    width: calc(100% - 256px);
    margin-right: auto;
    @media screen and (max-width: 1264px) {
      width: 100%;
    }
  }
  .main_nav {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding-right: 2rem;
    width: calc(100% - 256px);
    @media screen and (max-width: 1264px) {
      width: 100%;
    }

    .nav_content {
      padding: 1rem;
      background: white;
      border-radius: 15px;
      font-size: 1.2rem;
      color: var(--theme_text_clr);
    }
    .dashName {
      font-family: $semi_bold_font;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      .name {
        color: var(--main_theme_clr);
        font-family: $bold_font;
      }
    }
    .nav_actions {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      .nav_action_btn {
        cursor: pointer;
      }
    }
  }
}
